.related-header-wrapper {
  display: block;
  width: 100%;
  height: 50px;
  background: #000;
  position: relative;
  bottom: 0px;
  color:#fff;
  margin: 0 auto;
  box-sizing: border-box;
}

.related-header-wrapper h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 800;
  padding:10px 0 0 10px;
}