.wrapper-category {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 10px 100px 10px;
  background:#f3f3f3;
  box-sizing: border-box;
}

.category-logo {
  width: 80px;
  height: 37px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: 90% !important;
  box-sizing: border-box;
  position: absolute;
  top: 15px;
  left: 0px;
  padding: 0;
  margin: 0;
}

.header-category {
  display: flex;
  padding: 10px 0 10px 0;
  box-sizing: border-box;
  margin:0;
  height: 100px;
  position: relative;
}

.header-navigation {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 0;
  margin-bottom: 10px;
  height: 20px;
}