.load-more-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 800;
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  background: #E4D01C;
  cursor: pointer;
  margin: 0 auto;
  width: 355px;
  position: relative;
  box-sizing: border-box;
}

.load-more-button p {
  padding-top: 10px;
}
