html, body {
  margin: 0 !important;
  background:#f3f3f3;
}
.wrapper {
  max-width: 375px;
  margin: 0 auto;
  padding-bottom: 100px;
  background:#f3f3f3;
  box-sizing: border-box;
}

.header {
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  margin:0;
  height: 85px;
  position: relative;
}

.logo {
  width: 135px;
  height: 63px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: 90% !important;
  box-sizing: border-box;
}

.header-text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 240px;
  box-sizing: border-box;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 10px;
}

.header-text h2 {
  line-height: 0;
}

.header-text p {
  line-height: 5px;
}