.single-element-image {
  display:block;
  position: relative;
  width: 100%;
  height: 500px;
  background-size: cover !important;
  background-position: center center !important;
}

.single-element-info {
  display: block;
  background: #000;
  height: auto;
  min-height: 200px;
  width: 100%;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 20px 10px;
  box-sizing: border-box;
  line-height:20px;
}

.info-property {
  font-weight: bold;
  font-size: 12px;
  line-height:20px;
  text-transform: uppercase;
  color:#939393
}

.left {
  flex: 50%;
}

.right {
  flex: 50%;
}