.searchform-wrapper {
  display: block;
  width: 100%;
  height: 50px;
  background: #000;
  position: relative;
  bottom: 0px;
  color:#fff;
  font-family: Arial, Helvetica, sans-serif;
}

input[type=text] {
  width:70%;
  height:30px;
  margin: 8px 0 0 10px;
  border: 0px;
  background: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  outline: none;
}